@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebebeb;
  --foreground: #000000;
  --kittyred: #e6002d;
  --kittyblue: #0170ba;
  --grey: #ebebeb;
  --font-mplus: "M PLUS Rounded 1c", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebebeb;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-notosans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
