@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebebeb;
  --foreground: #000000;
  --kittyred: #e6002d;
  --kittyblue: #0170ba;
  --grey: #ebebeb;
  --font-mplus: "M PLUS Rounded 1c", sans-serif;
  --border: "rgba(0,0,0,0.5)";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebebeb;
    --foreground: #ededed;
  }
}

html {
  font-size: clamp(10px, 14px, 100vw * 10 / 375);

  @media screen and (min-width: 768px) {
    font-size: min(16px, 100vw * 14 / 768);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-notosans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p,
div {
  letter-spacing: 0.02rem;
}
