@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebebeb;
  --foreground: #000000;
  --kittyred: #e6002d;
  --kittyblue: #0170ba;
  --grey: #ebebeb;
  --font-mplus: "M PLUS Rounded 1c", sans-serif;
  --border: rgba(0, 0, 0, 0.5);
  --font-16-static: 16px;
  --font-16md: clamp(10px, 100vw * 16 / 768, 16px);
  --font-18md: clamp(12px, 100vw * 18 / 768, 18px);
  --font-14lg: clamp(10px, 100vw * 14 / 1024, 14px);
  --font-16lg: clamp(12px, 100vw * 16 / 1024, 16px);
  --font-18lg: clamp(10px, 100vw * 18 / 1024, 18px);
  --font-20lg: clamp(10px, 100vw * 20 / 1024, 20px);
  --font-21lg: clamp(10px, 100vw * 21 / 1024, 21px);
  --font-23lg: clamp(10px, 100vw * 23 / 1024, 23px);
  --font-24lg: clamp(14px, 100vw * 24 / 1024, 24px);
  --font-25lg: clamp(12px, 100vw * 25 / 1024, 25px);
  --font-26lg: clamp(12px, 100vw * 25 / 1024, 26px);
  --font-30lg: clamp(10px, 100vw * 30 / 1024, 30px);
  --font-36lg: clamp(12px, 100vw * 36 / 1024, 36px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebebeb;
    --foreground: #ededed;
  }
}

html {
  font-size: clamp(10px, 14px, 100vw * 10 / 375);
  scroll-behavior: smooth;

  @media screen and (min-width: 768px) {
    font-size: clamp(14px, 100vw * 16 / 1024, 16px);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-notosans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p,
div {
  letter-spacing: 0.02rem;
}

hr {
  @apply border-t-[3px] md:border-t-[5px];
  border-color: #000;
}

.box {
  @apply border-[3px] md:border-[5px];
}

.label {
  @apply border-[2px] md:border-[4px] border-black px-[5%] md:px-[2%] min-w-[130px] md:min-w-[264px] py-[1.5vw] text-20lg;
}

.label.l {
  @apply border-[3px] md:border-[5px] py-[5%] text-25lg;
}

.label.s {
  @apply border-[2px] md:border-[3px] py-[1vw] md:min-w-[130px] text-16lg;
}
.label.noborder {
  @apply border-none;
}

.has-anchor {
  scroll-margin-top: 100px;
}
.grecaptcha-badge {
  opacity: 0;
  z-index: 10;
}
